## Prediction of house price of USA

We're going to take the following approch:

1. Problem defination
2. Data
3. Evaluation
4. Features
5. Modelling
6. Exprimentation

### 1. Problem defination:

In statement:
> This is the data set of house in US and we've to predict the price of the house based on this data set.

### 2. Data :
Here data is from kaggle.com : Link: https://www.kaggle.com/harlfoxem/housesalesprediction

### 3. Evaluation:
> At lest 90% accuracy is required.


### 4. Features:


* id: Unique id of the house.
* date: Date when data is taken.
* price: Price of the house.
* bedrooms: NO of bedrooms.
* bathrooms: No of bathrooms.
* sqft_living: Area of 
* sqft_lot
* floors
* waterfront
* view
* condition
* grade
* sqft_above
* sqft_basement
* yr_built
* yr_renovated
* zipcode
* lat
* long
* sqft_living15
* sqft_lot15

### 1. Preparing the tools:

In [1]:
# Regular EDA (exploratory data analysis) and plotting libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### LoadData

In [2]:
df = pd.read_csv('./housedata/data.csv')
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

Data Exploration (EDA or ecploratory data analysis)
The goal here is to find out more about data and become a subjects matter exploration on the dataset you're working.

1. What question's are you trying too solve?
2. What kind of data do you have and how do we treat different types?
3. What's missing from the data and how do you deat with it?
4. Where are the outliers and why should you care about them?
5. How can you add, change or remove features to get more out of you data?

In [8]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

#### 1. What question's are you trying to solve?
Regression problem, we've to predict the value of the house based on the features
                **[date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
               'floors', 'waterfront', 'view', 'condition', 'sqft_above',
               'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
               'statezip'].**
               
And predict the price.

#### 2. What kind of data do you have and how do we treat different types?

We have 4 object columns so we've to use OneHotEncoder for changing the object into the corresponding numerical values. And the `country` column is useless as all of them is from USA

#### 3. What's missing from the data and how do you deat with it?

In [9]:
df.isna().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

No NaN values. Their might be 0 values in price columns...

Checking the 0 value in price column.

In [12]:
df.price.value_counts()

0.0         49
300000.0    42
400000.0    31
450000.0    29
600000.0    29
            ..
586500.0     1
693000.0     1
226500.0     1
257200.0     1
256000.0     1
Name: price, Length: 1741, dtype: int64

There are 49 0 values in price columns. Hence, we have to clean price column.

In [13]:
# Checking for feature sqft_living:
df.sqft_living.value_counts()

1940    32
1720    32
1660    31
1840    31
2000    30
        ..
4200     1
4160     1
2015     1
2009     1
4110     1
Name: sqft_living, Length: 566, dtype: int64

In [14]:
# Checking for features sqft_lot:
df.sqft_lot.value_counts()

5000     80
6000     65
4000     54
7200     50
4800     29
         ..
1130      1
11367     1
5220      1
3171      1
18804     1
Name: sqft_lot, Length: 3113, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [20]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

### EDA ( Exploratory data analysis)

In [22]:
df.bedrooms

0       3.0
1       5.0
2       3.0
3       3.0
4       4.0
       ...
4595    3.0
4596    3.0
4597    3.0
4598    4.0
4599    3.0
Name: bedrooms, Length: 4600, dtype: float64

In [ ]:
# Price vs. bedrooms
plt.figure(figsize=(10,10))

plt.yticks(np.arange(0, 10, 1))
plt.xticks(np.arange(0, 10**10, 50))
plt.scatter( df.price,df.bedrooms)

KeyboardInterrupt:

We've found that relation between bedrooms and price is unusual.

In [32]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [ ]:
# Price vs. sqft_living
plt.figure(figsize=(10, 8))

plt.scatter(df.price, df.sqft_living)