In [1]:
import numpy as np

## DataType & Attributes

In [2]:
# NumPy's main datatype is nd-array
a1 = np.array([1,2,3])

In [3]:
a1

array([1, 2, 3])

In [4]:
type(a1)

numpy.ndarray

In [5]:
a2 = np.array([[1,2.2,3],[4,5.0,6.3]])

a3 = np.array([[
             [1.2,2,3],
             [4,5,6],
             [7,8,9]],
             [[10,11,12],
             [13,14,15],
             [16,17,18]]])

In [6]:
a2

array([[1. , 2.2, 3. ],
       [4. , 5. , 6.3]])

In [7]:
a3

array([[[ 1.2,  2. ,  3. ],
        [ 4. ,  5. ,  6. ],
        [ 7. ,  8. ,  9. ]],

       [[10. , 11. , 12. ],
        [13. , 14. , 15. ],
        [16. , 17. , 18. ]]])

In [8]:
# Attributed associated with numpy
a1.shape

(3,)

In [9]:
a3.shape # 2row , 3 column and 3 size

(2, 3, 3)

In [10]:
a1.ndim # No of dimension

1

In [11]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [12]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('float64'))

In [13]:
a1.size, a2.size, a3.size #  size attribute No of element in the array

(3, 6, 18)

In [14]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [15]:
# Create a dataframe from numpy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.2  3.0
1  4.0  5.0  6.3

## 2. Create numpy array

In [16]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [17]:
sample_array.dtype

dtype('int64')

In [18]:
ones = np.ones((2,3), dtype=int) # 2 is no of row and 3 is no of column
ones

array([[1, 1, 1],
       [1, 1, 1]])

In [19]:
ones.dtype

dtype('int64')

In [20]:
type(ones)

numpy.ndarray

In [21]:
zeros = np.zeros((2,3), dtype=int)

In [22]:
zeros

array([[0, 0, 0],
       [0, 0, 0]])

In [23]:
range_array = np.arange(0, 10,2) #Start stop and step
range_array

array([0, 2, 4, 6, 8])

In [24]:
random_array = np.random.randint(0, 10, size=(2,3)) # randint(low, high, size)

In [25]:
random_array

array([[6, 1, 4],
       [2, 9, 7]])

In [26]:
random_array_2 = np.random.random((5,3))
random_array_2

array([[0.3799794 , 0.04419831, 0.47429504],
       [0.1119329 , 0.34935826, 0.05695327],
       [0.20190893, 0.65016036, 0.54411436],
       [0.09455881, 0.956909  , 0.75949761],
       [0.29070793, 0.50666587, 0.02309725]])

In [27]:
random_array_3 = np.random.rand(5,3,2)

In [28]:
random_array_3

array([[[0.56747946, 0.6227105 ],
        [0.74448864, 0.16402102],
        [0.41834676, 0.56562307]],

       [[0.46146549, 0.87222976],
        [0.27775276, 0.15070071],
        [0.67724616, 0.42631871]],

       [[0.33585942, 0.14654816],
        [0.81958249, 0.0293886 ],
        [0.85249502, 0.58136973]],

       [[0.96739729, 0.53032396],
        [0.2179395 , 0.05766445],
        [0.36133153, 0.2848695 ]],

       [[0.48183029, 0.68646699],
        [0.83301628, 0.19029403],
        [0.8194917 , 0.14937832]]])

In [29]:
# Pseudo-random numbers
np.random.seed(43) # Random number align with seed
random_array_4 = np.random.randint(10, size=(5,3))
random_array_4

array([[4, 0, 1],
       [5, 0, 3],
       [1, 2, 7],
       [0, 3, 2],
       [9, 1, 2]])

In [30]:
random_array_4.shape

(5, 3)

In [31]:
np.random.seed(0)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.5488135 , 0.71518937, 0.60276338],
       [0.54488318, 0.4236548 , 0.64589411],
       [0.43758721, 0.891773  , 0.96366276],
       [0.38344152, 0.79172504, 0.52889492],
       [0.56804456, 0.92559664, 0.07103606]])

In [32]:
np.random.seed(0)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.5488135 , 0.71518937, 0.60276338],
       [0.54488318, 0.4236548 , 0.64589411],
       [0.43758721, 0.891773  , 0.96366276],
       [0.38344152, 0.79172504, 0.52889492],
       [0.56804456, 0.92559664, 0.07103606]])

In [33]:
np.random.seed(10)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.77132064, 0.02075195, 0.63364823],
       [0.74880388, 0.49850701, 0.22479665],
       [0.19806286, 0.76053071, 0.16911084],
       [0.08833981, 0.68535982, 0.95339335],
       [0.00394827, 0.51219226, 0.81262096]])

## 3.Viewing array and matrices

In [34]:
np.unique(random_array_5)

array([0.00394827, 0.02075195, 0.08833981, 0.16911084, 0.19806286,
       0.22479665, 0.49850701, 0.51219226, 0.63364823, 0.68535982,
       0.74880388, 0.76053071, 0.77132064, 0.81262096, 0.95339335])

In [35]:
random_array_4

array([[4, 0, 1],
       [5, 0, 3],
       [1, 2, 7],
       [0, 3, 2],
       [9, 1, 2]])

In [36]:
np.unique(random_array)

array([1, 2, 4, 6, 7, 9])

In [37]:
a1

array([1, 2, 3])

In [38]:
a2

array([[1. , 2.2, 3. ],
       [4. , 5. , 6.3]])

In [39]:
a2[0][1]

2.2

In [40]:
a2.dtype

dtype('float64')

In [41]:
a2.ndim

2

In [42]:
a3.ndim

3

In [43]:
a3

array([[[ 1.2,  2. ,  3. ],
        [ 4. ,  5. ,  6. ],
        [ 7. ,  8. ,  9. ]],

       [[10. , 11. , 12. ],
        [13. , 14. , 15. ],
        [16. , 17. , 18. ]]])

In [44]:
a3[:2, :2, :2]

array([[[ 1.2,  2. ],
        [ 4. ,  5. ]],

       [[10. , 11. ],
        [13. , 14. ]]])

In [45]:
desired_array = np.ones((1,2,2,2), dtype=int) #(no of seperated array, no of rows in one array, no of column)

In [46]:
desired_array

array([[[[1, 1],
         [1, 1]],

        [[1, 1],
         [1, 1]]]])

In [47]:
desired_array.ndim

4

## 4. Manipulating and comparing array

### Arithmetic

In [48]:
a1

array([1, 2, 3])

In [49]:
ones

array([[1, 1, 1],
       [1, 1, 1]])

In [52]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [53]:
a1 + ones

array([2., 3., 4.])

In [55]:
ones = np.ones((2,3))

In [56]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [57]:
a1 + ones

array([[2., 3., 4.],
       [2., 3., 4.]])

In [60]:
a1*ones

array([[1., 2., 3.],
       [1., 2., 3.]])

In [61]:
a1/ones

array([[1., 2., 3.],
       [1., 2., 3.]])

In [62]:
a1.shape

(3,)

In [63]:
ones.shape

(2, 3)

In [64]:
a1 * ones

array([[1., 2., 3.],
       [1., 2., 3.]])

In [65]:
ones = np.ones((2,2))

In [66]:
# For the multiplication the no of column should be equal
a1 * ones

ValueError: operands could not be broadcast together with shapes (3,) (2,2)

In [67]:
ones = np.ones((2,3,3))

In [68]:
ones

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [69]:
ones*a1

array([[[1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.]],

       [[1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.]]])

In [70]:
ones = np.ones((2,3,2))

In [71]:
ones*a1

ValueError: operands could not be broadcast together with shapes (2,3,2) (3,)

In [73]:
ones % 2

array([[[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]]])